#include <os2.h>
#include "resource.h"

ICON ID_MAINPROGRAM   "..\\graphic\\program.ico"

MENU ID_MAINPROGRAM
BEGIN
    SUBMENU "~Archivo",                             IDM_FILE
    BEGIN
        MENUITEM "~Salir",                          ID_QUIT,            MIS_TEXT
    END
    SUBMENU "~Editar",                              IDM_EDIT
    BEGIN
        MENUITEM "~Copiar seleccionado\tCtrl+Ins",   ID_COPY,           MIS_TEXT
        MENUITEM "~Suprimir el £ltimo\tRetroceso",   ID_DELETE,         MIS_TEXT
        MENUITEM "~Vaciar\tCtrl+Supr",               ID_CLEAR,          MIS_TEXT
        MENUITEM SEPARATOR
        MENUITEM "Volve~r a copiar todo",            ID_RECOPY,         MIS_TEXT
    END
    SUBMENU "~Opciones",                            IDM_SETUP
    BEGIN
        MENUITEM "~Fuente para los caracteres...",  ID_FONT,            MIS_TEXT
        MENUITEM SEPARATOR
        MENUITEM "Copiar como ~Unicode",            ID_UCS,             MIS_TEXT, MIA_CHECKED
    END
    SUBMENU "A~yuda",                               IDM_HELP
    BEGIN
        MENUITEM "Ayuda ~general",                  ID_HELP,            MIS_HELP | MIS_TEXT
        MENUITEM SEPARATOR
        MENUITEM "~Informaci¢n del producto",        ID_ABOUT,          MIS_TEXT
    END
END

STRINGTABLE
BEGIN
    IDS_HELP_TITLE          "Mapa de Caracteres Extendido"
    IDS_ERROR_CHANGECP      "No se pudo establecer la p gina de c¢digos %u. Puede que su sistema no tenga instalado el soporte para ella."
    IDS_ERROR_COPYTEXT      "Error copiando al portapapeles.\n%s(): 0x%X"
    IDS_ERROR_COPYUCS       "Error copiando texto Unicode.\n%s(): 0x%X"
    IDS_CODEPAGE_DESC       "%u (p gina de c¢digos del sistema)"
    IDS_CODEPAGE_1200       "Unicode (Plano 0)"
    IDS_CODEPAGE_942        "(SJIS-1978 de Jap¢n)"
    IDS_CODEPAGE_943        "(SJIS-1990 de Jap¢n)"
    IDS_CODEPAGE_944        "(SAA de Corea)"
    IDS_CODEPAGE_949        "(KS-Code de Corea)"
    IDS_CODEPAGE_948        "(SAA de Taiw n)"
    IDS_CODEPAGE_950        "(BIG-5 de Taiw n)"
    IDS_CODEPAGE_946        "(SAA de China)"
    IDS_CODEPAGE_1381       "(GB de China)"
    IDS_CODEPAGE_1386       "(GBK de China)"
    IDS_VERSION             "Versi¢n %s"
    IDS_COPYRIGHT           "Copyright ¸ %s Alex Taylor"
END

ACCELTABLE ID_MAINPROGRAM
BEGIN
    VK_F3,        ID_QUIT,      VIRTUALKEY
    VK_INSERT,    ID_COPY,      VIRTUALKEY | CONTROL
    VK_DELETE,    ID_CLEAR,     VIRTUALKEY | CONTROL
    VK_BACKSPACE, ID_DELETE,    VIRTUALKEY
END

HELPTABLE ID_MAINPROGRAM
BEGIN
    HELPITEM ID_MAINPROGRAM, HSTB_MAIN, 100
END

HELPSUBTABLE HSTB_MAIN
BEGIN
END

RCINCLUDE "resource.dlg"

